<div>
  <h3>Inscripción ID: {{ InscripcionElement.id }}</h3>
  <p><strong>Olimpista ID:</strong> {{ InscripcionElement.olimpista?.nombres }}</p>
  <p><strong>Area ID:</strong> {{ InscripcionElement.area.nombre }}</p>
  <p><strong>Tutor ID:</strong> {{ InscripcionElement.tutor.id }}</p>
  <p><strong>Estado:</strong> {{ InscripcionElement.estado }}</p>
  <p><strong>Fecha de creación:</strong> {{ InscripcionElement.createdAt }}</p>
  <p><strong>Fecha de actualización:</strong> {{ InscripcionElement.updatedAt }}</p>
</div>
